* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fcf9e1;
    color: #000000;
    line-height: 1.6;
    font-size: 12px;
}

@media screen and (min-width : 600px){
    body { font-size: 16px;}
}

@media screen and (min-width :900px){
    body {font-size: 20px;}
}

/* Header Styles */
header { 
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffea00;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {font-weight: 10000;
    margin: 0;
    font-size: 2.5em;
    color: #010101;
}

header p {font-weight: 600;
    font-size: 1.2em;
    margin: 3px 0;
    color: #116120;
}

/* Navigation Styles */
nav {font-family: 'Courier New', Courier, monospace;
    background-color: #3f3f3f;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

/* Article Styles */
article p { font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    padding-left: 60px;
    text-align: left;
    width: 100%;
    font-size: large;
}

 article figure {
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    padding-left: 60px;
    text-align: center;
    width: 100%;
    font-size: large;
}


article p video { background-color: #3a3434;
    float: right;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
article h1 {font-weight: 1000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;}

    @media screen and (min-width : 600px){
        article h1 { font-size: 16px;}
    }
    
    @media screen and (min-width :900px){
        article h1 {font-size: 20px;}
    }

/* Footer Styles */
footer {font-family: 'Courier New', Courier, monospace;
    background-color: #3f3f3f;
    color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    clear: both;
}
